.order {
	padding: 1em;
	width: 80%;
}

#inner {
	padding: 1em;
}

td {
	padding-left: 0.5em;
	padding-right: 1em;
}

#name {
	width: 20em;
}

#sum {
	text-align: right;
}

#personal {
	float: left;
	width: 35%;
}

#orders_list {
	float: right;
	width: 65%;
}

input {
	margin: 5px;
}