a {
	color: #555;
	text-decoration: none;
}

#main {
	padding: 2em;
}

.icon {
	width: 50px;
	height: 50px;
	float: left;
	display: inline-block;
}

td {
	padding: 10px;
	padding-right: 20px;
}

.biggerfont {
	font-size: 4em;
	font-family: Architex;
}

.biggerfont  a{
	text-decoration: none;
}

#clear {
	padding: 1em;
	float: left;
}

#buy a {
	padding: 1em;
	font-size: 2em;
	color: green;
	text-decoration: none;
	float: right;
}

#buy a:hover {
	color: orange;
}