a {
	color: #555;
}

#buyed_list {
	font-size: 1.1em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

#buyed_list td {
	padding: 0.5em;
}

h2 {
	padding-left: 1em;
}

#decide {
	margin-left: auto;
	margin-right: auto;
	width: 20em;
	text-align: center;
}

#decide a {
	color: orange;
}

#forward {
	font-size: 1.5em;
	font-weight: bold;
}

#forward a {
	color: green;
}

input[type=text] {
	width: 300px;
	height: 50px;
	margin: 0.5em;
}