@font-face {
        font-family: "Precious";
        font-style: normal;
        /*src: url(.eot); if IE */
        src: url("fonts/Precious.ttf") format("truetype"); /* non-IE */
}

@font-face {
        font-family: "ComicAndy";
        font-style: normal;
        /*src: url(../ .eot); if IE */
        src: url("../fonts/comic_andy.ttf") format("truetype");
}

@font-face {
        font-family: "FatCow";
        font-style: normal;
        src: url("../fonts/FatCow.eot");
        src: url("../fonts/FatCow.ttf") format("truetype");
}

@font-face {
        font-family: "Dotty";
        font-style: normal;
        /*src: url(../ .eot); if IE*/
        src: url("../fonts/dotty.ttf") format("truetype");
}

@font-face {
        font-family: "Grenadier";
        font-style: normal;
        src: url("../fonts/GrenadierNF.eot"); /*if IE*/
        src: url("../fonts/GrenadierNF.ttf") format("truetype");
}

@font-face {
        font-family: "Indonesiana";
        font-style: normal;
        /*src: url("../ .eot"); if IE*/
        src: url("../fonts/Indonesiana TrueTypeFont Powered By Fizz_Labz.ttf") format("truetype");
}

@font-face {
        font-family: "MayQueen";
        font-style: normal;
        /*src: url("../ .eot"); if IE*/
        src: url("../fonts/mayqueen.ttf") format("truetype");
}

@font-face {
        font-family: "Monkies";
        font-style: normal;
        /*src: url("../ .eot"); if IE*/
        src: url("../fonts/TheMonkiesAteMySoul.ttf") format("truetype");
}

@font-face {
        font-family: "Architex";
        font-style: normal;
        /*src: url("../ .eot"); if IE*/
        src: url("../fonts/Architex.ttf") format("truetype");
}