#intro {
	margin: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #999;
}

.featured {
	display: inline-block;
	height: 250px;
	text-align: center;
	width: 33%;
	padding-top: 2em;
}

.img {
	width: 200px;
	height: 200px;
	border: 1px solid black;
}

h3 {
	text-align: center;
}

.seemore {
	background-color: orange;
	border: none;
	padding: 0.5em;
	color: #fff;
	border-radius: 0.5em;
	width: 8em;
	margin: 0.5em;
}

.seemore:hover {
	background-color: darkorange;
	cursor: pointer;
}
