.img {
	float: right;
	margin: 0em 2em 2em 2em;
}

.preview {
	border: 1px solid black;
}

.price {
	font-size: 2em;
	font-weight: bold;
	right: 0;
	color: red;
	float: right;
	font-family: Architex;
}

#add {
	padding: 1em;
	text-align: center;
}

h2 {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	padding-left: 1em;
}

#author {
	text-align: center;
	font-size: 0.8em;
}

.descr {
	padding-left: 1em;
	padding-right: 1em;
}