.chosen {
	text-decoration: underline;
	color: #ee6e1a;
}

.item {
	border-radius: 1em;
	border: 1px solid #bbb;
	padding: 1em;
	padding-top: 0em;
	margin-top: 1em;
	min-height: 210px;
}

.item:hover{
	background-color: #F9F9F9;
	border: 1px solid #999;
}

.promoteditem {
	border-radius: 1em;
	padding: 1em;
	padding-top: 0em;
	margin-top: 1em;
	min-height: 210px;
}

.promoteditem:hover{
	background-color: #F9F9F9;
}

.image {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 1em;
	display: inline-block;
	border: 1px solid black;
}

.price {
	font-size: 2em;
	font-weight: bold;
	padding-right: 0.5em;
	color: red;
	float: right;
	font-family: Architex;
}

.descr {
	position: relative;
	left: 1em;
	padding-right: 5em;
	
}

.buttons {
	padding-top: 1em;
	padding-left: 110px;
}