body {
	font-family: Calibri, sans-Serif;
}

a, a:visited {
	color: #CD9B9B;
	text-decoration: none;
}

a:hover {
	color: #CD9B9B;
	text-decoration: underline;
}

#header {
	height: 10em;
	background-color: #A31947;
	color: #fff;
	position: absolute;
	left: 50%;
	width: 48em;
	margin-left: -24em;
	top: 1em;
	padding: 0.5em;
	text-align: center;
	border-radius: 1em;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	color: #fff;
	text-decoration: none;
}

#user {
	position: absolute;
	top: 11em;
	right: 1em;
	text-align: right;
	color: #000;
	display: inline-block;
	float: left;
}

#user a {
	color: #000;
	text-decoration: underline;
}

#user a:hover{
	color: #000;
	text-decoration: none;
}

#pick_style {
	position: absolute;
	top: 11em;
	left: 1em;
	text-align: left;
	color: #000;
	display: inline-block;
	float: left;
}

#pick_style a {
	color: #000;
	text-decoration: underline;
}

#pick_style a:hover {
	color: #000;
	text-decoration: none;
}

#title {
	font-size: 5em;
	font-family: Monkies;
}

#menu {
	top: 14em;
	padding: 0.5em;
	position: absolute;
	left: 50%;
	width: 48em;
	margin-left: -24em;
	z-index: 2;
}

#menu a {
	color: #000;
	text-decoration: none;
}

#menu a:hover{
	color: #CD9B9B;
	text-decoration: none;
}

#menu #left {
	display: inline-block;
	position: relative;
	float: left;
}

#menu #right {
	display: inline-block;
	position: relative;
	float: right;
	right: 0em;
	text-align: right;
}

.menuitem {
	font-family: Grenadier;
	display: inline-block;
	position: relative;
	padding: 0.5em;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #000;
	width: 8em;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	font-size: 1.2em;
}

.menuitem:hover {
	color: #cc4f38;
	cursor: hand;
}

.menuitem .dropdown {
	font-family: Georgia;
	font-size: 0.8em;
	vertical-align: bottom;
}

.menuitem .dropdown {
	color: #000;
	padding-top: 0.5em;
}

#right .menuitem .dropdown {
	padding-left: 0.2em;
}

.menuitem .dropdown div {
	font-size: 1.1em;
	padding: 0.4em;
}

.menuitem .dropdown div:hover {
	background-color: #CD9B9B;
	color: #fff;
}

.menuitem input {
	width: 6em;
}

.red {
	color: #cc4f38;
}

.red:hover {
	text-decoration: underline;
}

#main {
	top: 16em;
	left: 50%;
	width: 48em;
	margin-left: -24em;
	z-index: -1;
	position: absolute;
	padding: 0.5em;
	padding-top: 1.5em;
	background-color: #fff;
	padding-bottom: 2em;
	min-height: 50%;
	border: 1px solid #ddd;
}

#simple_inner {
	text-align: center;
	padding: 1em;
}

hr {
	color: #ddd;
}

#content {
	border-left: 1px dashed #ddd;
	right: 0;
	padding: 1em;
	overflow: hidden;
}

#inner {
	padding: 2em;
}

footer {
	bottom: 0;
	width: 48em;
	left: 50%;
	margin-left: -24em;
	height: 1em;
	position: fixed;
	background-color: #8B668B;
	color: #ddd;
	text-align: center;
	font-variant: small-caps;
	opacity: 0.7;
}

footer:hover {
	height: 4em;
	opacity: 1;
}

input {
	margin-left: 10px;
}

.seemore {
	background-color: orange;
	border: none;
	padding: 0.5em;
	color: #fff;
	border-radius: 0.5em;
	width: 8em;
	margin: 0.5em;
}

.seemore:hover {
	background-color: darkorange;
	cursor: pointer;
}

.tobasket {
	background-color: #AB7979;
	border: none;
	padding: 0.5em;
	color: #fff;
	border-radius: 0.5em;
	width: 8em;
	margin: 0.5em;
}

.tobasket:hover {
	background-color: #895757;
	cursor: pointer;
}

input[type=submit] {
	display: block;
	background-color: #AB7979;
	border: none;
	padding: 0.5em;
	color: #fff;
	border-radius: 0.5em;
	width: 8em;
	margin-top: 1em;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

input[type=submit]:hover {
	background-color: #895757;
}

.promoteditem {
	border: 2px solid darkorange;
}

#cookies {
	font-size: 0.8em;
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 16em;
	background-color: #eee;
	padding: 1em;
	text-align: center;
	border-radius: 0.5em;
}