body {
	background-image: url('../pictures/bg3.png');
	font-family: Cambria, Georgia, Serif;
}

a, a:visited {
	color: #cc4f38;
	text-decoration: none;
}

a:hover {
	color: cc4f38;
	text-decoration: underline;
}

#header {
	height: 12em;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;
	left: 17em;
	right: 17em;
	top: 0em;
	min-width: 700px;
	padding: 0.5em;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 0px 10px #000;
}

#header a {
	color: #000;
	text-decoration: none;
}

#header a:hover {
	color: #000;
	text-decoration: none;
}

#user {
	position: relative;
	bottom: 1em;
	right: 0;
	text-align: right;
	display: inline-block;
	float: right;
}

#user a {
	text-decoration: underline;
}

#pick_style {
	position: relative;
	bottom: 1em;
	left: 0;
	text-align: left;
	display: inline-block;
	float: left;
}

#pick_style a {
	color: #000;
	text-decoration: underline;
}

#pick_style a:hover {
	color: #000;
	text-decoration: none;
}

#title {
	font-size: 5em;
	font-family: Monkies;
}

#menubg {
	top: 13em;
	padding: 0.5em;
	position: absolute;
	left: 17em;
	right: 17em;
	min-width: 700px;
	background-color: #cc4f38 ;
	z-index: 2;
	box-shadow: 0px 0px 10px #000;
	height: 1.8em;
}

#menu {
	top: 13em;
	padding: 0.5em;
	position: absolute;
	left: 17em;
	right: 17em;
	min-width: 700px;
	z-index: 2;
}

#menu a {
	color: #000;
	text-decoration: none;
}

#menu a:hover{
	color: #cc4f38;
	text-decoration: none;
}

#menu #left {
	display: inline-block;
	position: relative;
	float: left;
	min-width: 200px;
}

#menu #right {
	display: inline-block;
	position: relative;
	float: right;
	right: 0em;
	width: 10em;
	text-align: right;
}

.menuitem {
	font-family: Grenadier;
	display: inline-block;
	position: relative;
	padding: 0.1em;
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
	width: 8em;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	font-size: 1.2em;
}

.menuitem:hover {
	color: #cc4f38;
	cursor: hand;
}

.menuitem .dropdown {
	font-family: Georgia;
	font-size: 0.8em;
	vertical-align: bottom;
}

.menuitem .dropdown {
	color: #000;
	padding-top: 0.5em;
}

#right .menuitem .dropdown {
	padding-left: 0.2em;
}

.menuitem .dropdown div {
	font-size: 1.1em;
	padding: 0.4em;
}

.menuitem .dropdown div:hover {
	background-color: #cc4f38;
	color: #fff;
}

.menuitem input {
	width: 6em;
}

.red {
	color: #cc4f38;
}

.red:hover {
	text-decoration: underline;
}

#main {
	top: 15.9em;
	left: 17em;
	z-index: -1;
	right: 17em;
	position: absolute;
	min-width: 500px;
	padding: 0.5em;
	background-color: #fff;
	min-width: 700px;
	box-shadow: 0px 0px 10px #000;
	padding-bottom: 2em;
	min-height: 50%;
}

#simple_inner {
	text-align: center;
	padding: 1em;
}

#sidebar {
	background-color: #fff;
	width: 170px;
	padding: 1em;
	float: left;
}

#sidebar a {
	color: #555;
	text-decoration: none;
}

#sidebar a:hover {
	color: #cc4f38;
}

#orderby {
	border-left: 1px solid #aaa;
	right: 0;
	padding-top: 2em;
	padding-left: 1em;
	overflow: hidden;
}

#orderby a {
	color: #555;
	text-decoration: none;
}
#orderby a:hover {
	color: #cc4f38;
}

#content {
	border-left: 1px solid #aaa;
	right: 0;
	padding: 1em;
	overflow: hidden;
}

#inner {
	padding: 2em;
}

footer {
	bottom: 0;
	left: 17em;
	right: 17em;
	height: 1em;
	position: fixed;
	background-color: #777;
	color: #ddd;
	text-align: center;
	font-variant: small-caps;
	min-width: 700px;
	opacity: 0.7;
}

footer:hover {
	height: 4em;
	opacity: 1;
}

input {
	margin-left: 10px;
}

.seemore {
	background-color: orange;
	border: none;
	padding: 0.5em;
	color: #fff;
	border-radius: 0.5em;
	width: 8em;
	margin: 0.5em;
}

.seemore:hover {
	background-color: darkorange;
	cursor: pointer;
}

.tobasket {
	background-color: green;
	border: none;
	padding: 0.5em;
	color: #fff;
	border-radius: 0.5em;
	width: 8em;
	margin: 0.5em;
}

.tobasket:hover {
	background-color: darkgreen;
	cursor: pointer;
}

input[type=submit] {
	display: block;
	background-color: #526F35;
	border: none;
	padding: 0.5em;
	color: #fff;
	border-radius: 0.5em;
	width: 8em;
	margin-top: 1em;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.promoteditem {
	border: 2px solid red;
}